* {
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #CE4E19;
  text-decoration: underline;
}

.menu-item {
  line-height: 1.43;
  color: #9FA2A6;
  font-size: 14px;
  padding-bottom: 8px;  
}

@media (max-width: 576px) {
  .menu-item {
    font-size: 12px;
  }
}

.social-link {
  margin-right: 20px;

}

.social-link svg {
  height: 24px;
  width: 24px;
}

.social-link:last-child {
  margin-right: 0;
}

.footer-wrapper {
  padding-top: 82px;
  padding-bottom: 53px;
  justify-content: center;
  display: flex;
  background-color: #000000;
}

.legal-text {
  line-height: 1.6;
  font-size: 10px;
  color: #FFFFFF;
}

.icon-links {
  padding: 36px 0;
  margin-left: -8px;
  white-space: nowrap;
}

.icon-links a {
  color: #FFFFFF;
}

.title {
  line-height: 1.69;
  font-size: 16px;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .title {
    font-size: 14px;
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

.brex-logo {
  width: 100%;
  max-width: 200px;
  vertical-align: middle;
  border-style: box;
}

.footer-element {
  width: 100%;
  max-width: 1400px;
  background-color: #000000;
}

.row-container {
  margin-top: 0;
  padding: 0 56px;
}

@media (max-width: 991px) {
  .row-container {
    padding: 0 42px;
  }
}

@media (max-width: 576px) {
  .row-container {
    padding: 0 28px;
  }
}

.row-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  margin-left: -8px;
  margin-right: -8px;
}

@media (max-width: 576px) {
  .row-inner {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}

.column {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  display: block;
  padding: 0 8px;
}

.column.column--span-1 {
  -webkit-flex-basis: calc(100% * 1 / 12);
  -ms-flex-preferred-size: calc(100% * 1 / 12);
  flex-basis: calc(100% * 1 / 12);
  max-width: calc(100% * 1 / 12);
}

.column.column--span-2 {
  -webkit-flex-basis: calc(100% * 2 / 12);
  -ms-flex-preferred-size: calc(100% * 2 / 12);
  flex-basis: calc(100% * 2 / 12);
  max-width: calc(100% * 2 / 12);
}

.column.column--span-3 {
  -webkit-flex-basis: calc(100% * 3 / 12);
  -ms-flex-preferred-size: calc(100% * 3 / 12);
  flex-basis: calc(100% * 3 / 12);
  max-width: calc(100% * 3 / 12);
}

@media (max-width: 991px) {
  .column.column--span-medium-0 {
    display: none;
  }

  .column.column--span-medium-3 {
    -webkit-flex-basis: calc(100% * 3 / 12);
    -ms-flex-preferred-size: calc(100% * 3 / 12);
    flex-basis: calc(100% * 3 / 12);
    max-width: calc(100% * 3 / 12);
  }

  .column.column--span-medium-12 {
    -webkit-flex-basis: calc(100% * 12 / 12);
    -ms-flex-preferred-size: calc(100% * 12 / 12);
    flex-basis: calc(100% * 12 / 12);
    max-width: calc(100% * 12 / 12);
  }
}

@media (max-width: 576px) {
  .column.column--span-small-0 {
    display: none;
  }

  .column.column--span-small-4 {
    -webkit-flex-basis: calc(100% * 4 / 12);
    -ms-flex-preferred-size: calc(100% * 4 / 12);
    flex-basis: calc(100% * 4 / 12);
    max-width: calc(100% * 4 / 12);
  }

  .column.column--span-small-12 {
    -webkit-flex-basis: calc(100% * 12 / 12);
    -ms-flex-preferred-size: calc(100% * 12 / 12);
    flex-basis: calc(100% * 12 / 12);
    max-width: calc(100% * 12 / 12);    
  }
}